omegaconf==2.3.0 
iopath==0.1.10 
webdataset==0.2.48 
accelerate==0.20.3 
fairscale==0.4.4 
spacy==3.6.1 
pycocoevalcap==1.2 
torchvision==0.15.2 
multilingual-clip==1.0.10 
peft==0.4.0 
sentence-transformers==2.2.2


# transformers==4.31.0